doctype html
html(lang="en")
    head
        include partials/head
        link(rel="stylesheet", href="/css/blocks/header.css")
        link(rel="stylesheet", href="/css/login&register.css")
        meta(name="robots" content="noindex")
    body 
        include partials/header
        .container 
            form.user(action=`/user/reset/${token}` method="POST") 
                .user__wrapper
                    if authErrors
                        .messages
                            each error in authErrors
                                p.messages__error=error.message
                    h2.user__title Has solicitado restablecer tu contraseña
                    .user__field
                        label.user__label(for="password" autofocus) Nueva contraseña: 
                        input.user__input(type="password", name="password" id="password" autofocus)
                    .user__action
                        button.user__button.user__button--complete ¡Cambiar contraseña!
                        a.user__redirect.user__redirect--complete(href="/login") Ya recordé mi contraseña