aside 
    .sidebar
        .sidebar__wrap
            .sidebar__item#open(href="#")
                span.sidebar__text.sidebar__text--bold Tengo Una Idea
                img.sidebar__icon.sidebar__logo(src="/assets/logo.svg")
        //- a.sidebar__wrap(href="/objetives")  
        //-     .sidebar__item
        //-         span.sidebar__text Crear objetivo
        //-         i.sidebar__icon(class="fas fa-plus")
        a.sidebar__wrap(href="/objetives")  
            .sidebar__item
                span.sidebar__text Mis objectivos
                i.sidebar__icon(class="fas fa-list-ol")
        a.sidebar__wrap(href="/user/out")  
            .sidebar__item
                span.sidebar__text Cerrar sesión
                i.sidebar__icon(class="fas fa-sign-out-alt")