extends ../templates/email.pug
block content
    .email
        h1.email__title Has solicitado restablecer tu contrase침a
        a.email__button(href=tokenURL) Ir a restablecer contrase침a
        .email__paragraphs
            p.email__paragraph Para resguardar tu seguridad este enlace tiene una duraci칩n de 1 hora
        p.email__paragraph Si no te funciona el bot칩n copia/presiona la siguiente URL:
        p.email__token= tokenURL